/* Header CSS */

.header {
  padding: 0px 30px;
  top: 0px;
  height: 7vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerNav.ant-dropdown-trigger {
  margin-top: 10px !important;
}

/* Footer CSS */

.footer {
  border-top: 0.5px solid #9b9b9b;
  height: 3vh;
  padding: 3vh;
  text-align: center;

  bottom: 0;
  width: 100%;
}

/* Auth */

.login {
  text-align: center;
}
