.mail {
  min-height: 90vh;
  padding-top: 7vh;
  display: flex;
  flex-direction: row;
}

.mailPerson {
  display: flex;
  flex: 1;
  border-right: 1px #d7d7d7 solid;
}

.mailContent {
  display: flex;
  flex: 5;
  flex-direction: column;
  background-color: white;
  max-height: 80vh;
}

.mailCard {
  border-bottom: #d7d7d7 0.5px solid;
  background-color: #fff;
  display: flex;
  flex: 1;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.mailMessages {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 20px 40px 40px;
  max-width: 100%;
  
  
}

.mailMessageContainer{
  max-height:90%;
  min-height:90%;
  overflow-y: auto;
}
.mailButtons {
  bottom: 5px;
  justify-content: space-between;
  
  display: flex;
  padding-top: 20px;
  margin-left: 20px;
  margin-right:20px;
  
}
