/* Product Page Overal */

.product {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 90vh;
  z-index: -10;
}

.productDetail {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 75vh;
  margin-bottom: 2%;
  margin-top: 2%;
  z-index: -10;
  display: flex;
  flex-direction: row;
}

/* Product Image Components */

.productDetailImage {
  min-width: 38%;
  flex: 1;
  margin-right: 64px;
}

.productDetailContent {
  padding: 16px;
  background-color: #fff;
  min-width: 50%;
  max-height: 40vh;
  flex: 2;
  border-radius: 10px;
}

.productImg {
  min-width: 70%;
  min-height: 70%;
  align-items: center
}

.productImgRow {
  padding-top: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #ffff;
}

.productImgRow > img {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: inline-block;
  line-height: 100px;
}

.productImgRow > img:hover {
  border: 1px solid #000000;
}

/* Product Grid Sector */

.productGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  margin-top: 4%;
  justify-content: center;
}

.productGridImg {
  max-width: 216px;
  max-height: 216px;
  border-radius: 10px 10px 0px 0px;
}
.productGridCard {
  display: inline-block;
  background-color: white;
  margin-right: 40px;
  margin-top: 40px;
  border-radius: 10px;
}

.productGridCard:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.productGridContent {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.productDetailHeader {
  margin-right: 16px;
}
.productDetailHeader:hover {
  color: #e7cfcf;
  cursor: pointer;
}

.productGridHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  margin-top: 4%;
}

.productDetailDesc {
  display: flex;
  flex-direction: "row";
  align-items: center;
  flex: 1;
}
