.profile {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 90vh;
  z-index: -10;
  display: flex;
  flex-direction: row;
}

.profileTabs {
  flex: 1;
  margin-top: 20vh;
}

.profileTabsMenu {
  height: 70px;
  width: 150px;
  background-color: white;
  border: 1px solid #3333;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  border-radius: 10px;
  margin-bottom: 2px;
}

.profileTabsMenu:hover {
  transform: translate(-20px);
  transition: all 500ms ease-in-out;
}

.profileTabsMenu:active {
  background-color: lightpink;
  transform: translate(-20px, 1px);
  transition: all 200ms ease-in-out;
}
.profileContent {
  flex: 5;
  margin-top: 10vh;
  width: 80vh;
  max-height: 70vh;
  background-color: #fff;
  padding: 20px;
}

.profileGeneric {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.profileGenericButton {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 8px;
  margin-right: 32px;
}

.profileColumn {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

.SellingDetails {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PersonalDetails {
  padding: 40px;

  width: 50%;
}

.personalDetailsContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.profileProductRows {
  display: flex;
  flex: 1;
  flex-direction: "row";
}

.ProductTest {
  flex: 1;
}

.profileProductRowsContent {
  margin-left: 40px;
  margin-top: 10px;
  flex:1
}
